
<table class="table">
<% @songs = Song.all %>

<div class="row">
  <% @songs.each do |song| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <div class="caption">
          <h3><%= link_to song.name, song %></h3>
          <p><%= song.artist.name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>