<h1>Take a Survey</h1>

<%= form_for @song do |form| %>

 <div class="form-group">
    <%= form.label :Question_1 %>
    <%= form.collection_select :survey, Answer.order(:text), :id, :text, { include_blank: false }, { class: "form-control" } %> 
  </div>

<%= form.button 'Submit', class: "btn btn-success" %>

<% end %> 